/* shared components go here */

:root {
  --color_primary_green: #4ea487;
  --color_primary_yellow: #f1c953;
  --color_secondary_braun: #54370d;
  --color_text_gray: #737373;
  --color_white: #ffffff;
  --color_red: #b9102f;
}
