/* responsive styles go here */

/* Main Responsive */

@media screen and (min-width: 1440px) {
  .header_section {
    padding: 0px max(146px, calc(50% - 720px));
  }

  .hero {
    padding: 0px max(120px, calc(50% - 720px));
  }

  .faq_section {
    padding: 0px max(120px, calc(50% - 720px));
    padding-top: 120px;
  }

  .contact_section {
    padding: 0px max(120px, calc(50% - 720px));
    padding-top: 120px;
  }

  .footer_section {
    padding: 0px max(120px, calc(50% - 720px));
  }


/* Article Responsive */

.page_hero {
    padding: 80px max(120px, calc(50% - 720px));
}

.slider_section {
    padding: 0px max(120px, calc(50% - 720px));
}



}

